<section id="section-timeline" style="background-image:url(&quot;lady-justice-2388500_1920.jpg&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="margin-top:-40px;height:92px;">Nosotros</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-group timeline">
                    <li class="list-group-item" style="height:330px;">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="http://138.197.168.242/najhar/images/1.jpg"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Nuestra Firma</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Najhar SAS es una firma de abogados con más de 10 años de experiencia, especializados y dedicados a ofrecer de manera excepcional servicios jurídicos en todas las áreas del derecho, cobranzas e inmobiliaria . Comprendemos
                                    cada situación en particular, por lo cual asesoramos con eficiencia y excelencia, brindando las mejores soluciones.<br></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted" style="height:352px;">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="http://138.197.168.242/najhar/images/2.jpg"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Visión</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Posicionarse como la primera empresa en Colombia que brinde excelente asesoría a todos sus clientes en materia legal, en cobranzas, inmobiliaria y servicios contables, para su beneficio y desarrollo de sus ideales.<br><br><br><br><br><br></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="http://138.197.168.242/najhar/images/3.jpg"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Mision</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nuestra firma tiene como misión brindar asesoría legal eficiente, oportuna y de calidad a todas las personas naturales y personas jurídicas de todo el país.<br><br><br><br><br><br></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item timeline-inverted">
                        <div class="timeline-image">
                            <h4>Has parte de nuestra historia!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>