<div class="contenedor">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row media-body">
            <div class="col-md-2">
              <i class="fa fa-crosshairs" style="font-size:40px;"></i>
            </div>
            <div class="col-md-10" style="overflow:visible;">
              <h5>Las gestiones de cobranza se ejecutan por: telefonía, correspondencia, visitas domiciliarias y software para la búsqueda y localización de los deudores.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row media-body">
            <div class="col-md-2">
              <i class="fa fa-crosshairs" style="font-size:40px;"></i>
            </div>
            <div class="col-md-10" style="overflow:visible;">
              <h5>Realizamos cobranza preventiva, invitando al cliente a cancelar en la fecha o antes del vencimiento con el fin de mantener al día su deuda.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row media-body">
            <div class="col-md-2">
              <i class="fa fa-crosshairs" style="font-size:40px;"></i>
            </div>
            <div class="col-md-10" style="overflow:visible;">
              <h5>Estos servicios aplican para persona natural, persona jurídica (cheques, letras, pagarés, facturas) conjuntos de propiedad horizontal, entidades educativas, entre otras</h5>
            </div>
          </div>
        </div>
      </div>
    </div>