<div class="contenedor">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Tarifas especiales de acuerdo al plan elegido</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Servicios Jurídicos por un año</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Descuento del 10% en la tarifa general, en todos los procesos que se inicien</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Consulta y respuesta telefónica, personal o vía Internet.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>