<div class="fondo">
  <div class="features-boxed">
    <div class="container">
      <div class="intro inicial">
        <h2 class="text-center">Servicios Jurídicos</h2>
      </div>
      <div class="row justify-content-center features">
        <div class="col-sm-6 col-md-5 col-lg-4 item">
          <div class="box"><i class="fa fa-globe icon" style="color:rgb(137,47,27);"></i>
            <h3 class="name">Cobertura</h3>
            <p class="text-justify description">Nuestra compañía cuenta con profesionales competentes en todas las
              áreas del derecho.<br></p><a [routerLink]="['/cobertura']" class="learn-more">Conoce mas »</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 item">
          <div class="box"><i class="fa fa-money icon" style="color:rgb(137,47,27);"></i>
            <h3 class="name"><strong>Servicios&nbsp;Prepagados</strong><br></h3>
            <p class="text-justify description">Este servicio fue creado para brindar de forma integral a nivel
              corporativo asesoría jurídica.<br></p><a [routerLink]="['/servicios']" class="learn-more">Conoce mas »</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 item">
          <div class="box"><i class="fa fa-group icon" style="color:rgb(137,47,27);"></i>
            <h3 class="name">Beneficios</h3>
            <p class="text-justify description">Todos nuestros planes, están sujetos a cambios que se acomoden a las
              necesidades delos interesados, en este caso la oficina presentara una nueva propuesta en cobertura de
              asesorías y tarifas<br></p><a [routerLink]="['/beneficios']" class="learn-more">Conoce mas »</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="features-boxed">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Servicios Contables</h2>
      </div>
      <div class="row justify-content-center features">
        <div class="col-sm-6 col-md-5 col-lg-4 item">
          <div class="box"><i class="fa fa-line-chart icon" style="color:rgb(137,47,27);"></i>
            <h3 class="name"><strong>Declaraciones de Renta</strong><br></h3>
            <p class="text-justify description">Organizamos sus documentos y le informamos puntualmente la fecha de
              vencimiento de su obligación.<br>¿Sabe si Usted está obligado a presentar Declaración de Renta?<br>¿Conoce
              los papeles que debe reunir para una Declaración de
              Renta propiada?<br>¿Conoce la fecha de vencimiento de su obligación?<br></p><a [routerLink]="['/servicios']" class="learn-more">Programa
              tu consulta »</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 item">
          <div class="box" style="color:rgb(137,47,27);"><i class="fa fa-building icon" style="color:rgb(137,47,27);"></i>
            <h3 class="name" style="color:rgb(49,52,55);"><strong>Asesoría&nbsp;Contable</strong><br></h3>
            <p class="text-justify description">Elaboramos su contabilidad para que cuente con información acertada y a
              tiempo, con esto puede tomar las decisiones apropiadas en su negocio.<br>Para abordar de manera integral
              el
              proceso contable de su empresa llevamos a cabo
              un estricto procedimiento.<br></p><a [routerLink]="['/contable']" class="learn-more">Conoce mas »</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 item">
          <div class="box"><i class="fa fa-university icon" style="color:rgb(137,47,27);"></i>
            <h3 class="name"><strong>Asesoría Tributaria</strong><br></h3>
            <p class="text-justify description">Planeamos sus impuestos. Hacemos una evaluación del desempeño fiscal de
              su empresa e implementamos estratégias en varias áreas que permitan obtener una reducción de la carga
              tributaria. Para lograrlo llevamos a cabo una serie de
              actividades.<br></p><a [routerLink]="['/tributaria']" class="learn-more">Conoce
              mas »</a>
          </div>
        </div>
        <div class="container">
          <div class="intro">
            <h2 class="text-center">Cobranzas</h2>
          </div>
          <div class="col-sm-6 col-md-5 col-lg-4 item">
            <div class="box"><i class="fa fa-briefcase icon" style="color:rgb(137,47,27);"></i>
              <h3 class="name"><strong>Cobranzas</strong><br></h3>
              <p class="text-justify description">Este servicio aplica para persona natural, persona jurídica (cheques,
                letras, pagarés, facturas) conjuntos de propiedad horizontal, entidades educativas, entre otras.<br></p>
                <a [routerLink]="['/cobranza']" class="learn-more">Conoce mas »</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>