<div class="contenedor">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Evaluación de ingresos, costos y gastos deducibles e impuestos a cargo</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Proyección de costos tributarios futuros</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Ajuste en la estructura operativa y jurídica de su negocio para acondicionarla a una nueva estructura
              fiscal.</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Presentación adecuada de los impuestos de su empresa (Nacionales, Municipales, de Renta y Medios
              Magnéticos).</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Trámites de corrección de formularios de declaraciones de IVA, ICA, Retenciones en la Fuente o
              Declaraciones de Renta</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-body">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <h5>Respuestas a requerimientos de la DIAN.</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="row media-body">
            <div class="col-md-2">
              <i class="fa fa-crosshairs" style="font-size:40px;"></i>
            </div>
            <div class="col-md-10" style="overflow:visible;">
              <h5>Solicitudes de devoluciones de impuestos.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="row media-body">
              <div class="col-md-2">
                <i class="fa fa-crosshairs" style="font-size:40px;"></i>
              </div>
              <div class="col-md-10" style="overflow:visible;">
                <h5>Trámites de acuerdos de pago con la DIAN</h5>
              </div>
            </div>
          </div>
    </div>
  </div>