<div class="contenedor">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row media-large">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <span>EVALUACIÓN ESTRATÉGICA CONTABLE</span>
            <h5>Al inicio de las actividades verificamos la operación de su empresa y definimos la estructura de
              trabajo apropiada a su tamaño, volúmen de documentos y necesidades particulares.</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-large">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <span>IMPLEMENTACIÓN Y DESARROLLO CONTABLE</span>
            <h5>Proceso que va desde la recogida de los documentos hasta la obtención de los reportes financieros y
              declaraciones tributarias. Aquí se encuentran procesos como digitación, gestión de inventarios, control
              de cartera, manejo de nóminas, etc</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-large">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <span>ANÁLISIS DE REPORTES FINANCIEROS</span>
            <h5>La información resultante de la digitación de la información contable son los estados financieros.
              Analizamos sus resultados para sugerir decisiones gerenciales y le presentamos
              sus reportes de acuerdo con sus necesidades de información</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-large">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <span>DECLARACIONES DE IMPUESTOS (IVA, ICA y Retención en la fuente)</span>
            <h5>Preparamos sus declaraciones de impuestos de acuerdo con los requisitos legales y con
              suficiente anticipación</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-large">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <span>EVALUACIÓN ESTRATÉGICA CONTABLE</span>
            <h5>Al inicio de las actividades verificamos la operación de su empresa y definimos la estructura de
              trabajo apropiada a su tamaño, volúmen de documentos y necesidades particulares.</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-large">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <span>IMPLEMENTACIÓN Y DESARROLLO CONTABLE</span>
            <h5>Proceso que va desde la recogida de los documentos hasta la obtención de los reportes financieros y
              declaraciones tributarias. Aquí se encuentran procesos como digitación, gestión de inventarios, control
              de cartera, manejo de nóminas, etc</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row media-large">
          <div class="col-md-2">
            <i class="fa fa-crosshairs" style="font-size:40px;"></i>
          </div>
          <div class="col-md-10" style="overflow:visible;">
            <span>CRONOGRAMA DE PAGO DE IMPUESTOS</span>
            <h5>Diseñamos un calendario tributario y nos
              encargamos de supervisarlo en conjunto con Usted. Adicionalmente, como aspecto complementario podemos
              hacer una Reconstrucción de su Contabilidad. Revisamos sus aportes históricos y reconstruimos la historia
              de las transacciones en su empresa en el evento que
              sea necesario.
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>