<div class="contenedor">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row media">
            <div class="col-md-2">
              <i class="fa fa-crosshairs" style="font-size:40px;"></i>
            </div>
            <div class="col-md-10" style="overflow:visible;">
              <h5>Civil</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row media">
            <div class="col-md-2">
              <i class="fa fa-crosshairs" style="font-size:40px;"></i>
            </div>
            <div class="col-md-10" style="overflow:visible;">
              <h5>Administrativo</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row media">
            <div class="col-md-2">
              <i class="fa fa-crosshairs" style="font-size:40px;"></i>
            </div>
            <div class="col-md-10" style="overflow:visible;">
              <h5>Laboral</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row media">
            <div class="col-md-2">
              <i class="fa fa-crosshairs" style="font-size:40px;"></i>
            </div>
            <div class="col-md-10" style="overflow:visible;">
              <h5>Pensiones</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="row media">
              <div class="col-md-2">
                <i class="fa fa-crosshairs" style="font-size:40px;"></i>
              </div>
              <div class="col-md-10" style="overflow:visible;">
                <h5>Penal</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row media">
              <div class="col-md-2">
                <i class="fa fa-crosshairs" style="font-size:40px;"></i>
              </div>
              <div class="col-md-10" style="overflow:visible;">
                <h5>Familia</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row media">
              <div class="col-md-2">
                <i class="fa fa-crosshairs" style="font-size:40px;"></i>
              </div>
              <div class="col-md-10" style="overflow:visible;">
                <h5>Responsailidad Médica</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row media">
              <div class="col-md-2">
                <i class="fa fa-crosshairs" style="font-size:40px;"></i>
              </div>
              <div class="col-md-10" style="overflow:visible;">
                <h5>Minero</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="row media">
                <div class="col-md-2">
                  <i class="fa fa-crosshairs" style="font-size:40px;"></i>
                </div>
                <div class="col-md-10" style="overflow:visible;">
                  <h5>Aduanero</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row media">
                <div class="col-md-2">
                  <i class="fa fa-crosshairs" style="font-size:40px;"></i>
                </div>
                <div class="col-md-10" style="overflow:visible;">
                  <h5>Menores</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row media">
                <div class="col-md-2">
                  <i class="fa fa-crosshairs" style="font-size:40px;"></i>
                </div>
                <div class="col-md-10" style="overflow:visible;">
                  <h5>Comercial</h5>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row media">
                <div class="col-md-2">
                  <i class="fa fa-crosshairs" style="font-size:40px;"></i>
                </div>
                <div class="col-md-10" style="overflow:visible;">
                  <h5>Contractual</h5>
                </div>
              </div>
            </div>
      </div>
    </div>
